body {
  background-color: #eee;
}

h1 {
  text-align: center;
}

.all-sections {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.sec-1,
.sec-2,
.sec-3,
.sec-4,
.sec-5 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  margin: 15px;
  border: 5px solid black;
  border-radius: 6px;
  padding: 30px;
  background-color: white;
}

.sec-1 img,
.sec-2 img,
.sec-3 img,
.sec-4 img,
.sec-5 img {
  height: 100%;
  width: 225px;
}

.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
}
.text p {
  margin: 8px;
}

.buttons {
  width: 1200px;
  display: flex;
  justify-content: flex-end;
}

.buttons a {
  font-size: 25px;
  text-decoration: none;
  color: inherit;
}

@media (max-width: 450px) {
  .sec-1,
  .sec-2,
  .sec-3,
  .sec-4,
  .sec-5 {
    width: 260px;
    flex-direction: column;
  }

  .text {
    width: 255px;
  }
  .buttons {
    width: 300px;
  }
}
