* {
  transition: all 0.3s ease-in-out;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.container {
  width: 800px;
}

.container .text {
  text-align: center;
  color: #181893;
}

.container h2 {
  text-align: center;
  color: green;
}

.sharat {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 23px;
  /* color: navy; */
}

.sharat p a {
  text-decoration: none;
  color: black;
}
.sharat p {
  margin: 5px;
}

.pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  /* background-color: black; */
  /* width: 800px; */
  margin-top: 20px;
}
.pages .page-1,
.pages .page-2,
.pages .page-3,
.pages .page-4,
.pages .page-5,
.pages .page-6,
.pages .page-7,
.pages .page-8,
.pages .page-9,
.pages .page-10,
.pages .page-11,
.pages .page-12,
.pages .page-13,
.pages .page-14,
.pages .page-15,
.pages .page-16,
.pages .page-17 {
  height: 350px;
  width: 350px;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    180deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  color: white;
  border: 5px solid rgb(9, 120, 172);
  border-radius: 8px;
  margin: 20px;
  padding: 10px;
  transition: 0.3s;
}

.pages .page-6 {
  height: 470px;
}

.pages .page-1 h2,
.pages .page-2 h2,
.pages .page-3 h2,
.pages .page-4 h2,
.pages .page-5 h2,
.pages .page-6 h2,
.pages .page-7 h2,
.pages .page-8 h2,
.pages .page-9 h2,
.pages .page-10 h2,
.pages .page-11 h2,
.pages .page-12 h2,
.pages .page-13 h2,
.pages .page-14 h2,
.pages .page-15 h2,
.pages .page-16 h2,
.pages .page-17 h2 {
  text-align: center;
}
.pages .page-1 .text,
.pages .page-2 .text,
.pages .page-3 .text,
.pages .page-4 .text,
.pages .page-5 .text,
.pages .page-6 .text,
.pages .page-7 .text,
.pages .page-8 .text,
.pages .page-9 .text,
.pages .page-10 .text,
.pages .page-11 .text,
.pages .page-12 .text,
.pages .page-13 .text,
.pages .page-14 .text,
.pages .page-15 .text,
.pages .page-16 .text,
.pages .page-17 .text {
  text-align: center;
  font-size: 17px;
}
.buttons {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.buttons a {
  font-size: 25px;
  text-decoration: none;
  color: inherit;
}

@media (max-width: 450px) {
  .container {
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .container .sharat {
    width: 220px;
    text-align: center;
  }
  .pages .page-1,
  .pages .page-2,
  .pages .page-3,
  .pages .page-4,
  .pages .page-5,
  .pages .page-6,
  .pages .page-7,
  .pages .page-8,
  .pages .page-9,
  .pages .page-10,
  .pages .page-11,
  .pages .page-12,
  .pages .page-13,
  .pages .page-14,
  .pages .page-15,
  .pages .page-16,
  .pages .page-17 {
    height: 375px;
    width: 300px;
  }
  .pages .page-6 {
    height: 490px;
  }
}
